.ad {
    margin-top: 5px;
    text-align: center;
    /* background-color: rebeccapurple; */

  
    width: 180px;
 
    color: black;
}
.sidebar li a:hover {
    background-color: #F58220;;

   
}
.ad .name {
    text-align: center;
}

div#sidebar {
    background-color:  #0C85F8;
    border: #0C85F8;
    border-style: solid;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  
   
}

a {
    margin-bottom: 62px;
}

.name {
    color: #f6f9f7;
}

span.text.nav-text {
    color: #f6f9f7;
}


.sidebar .li a {

    background-color: white;
}

.image-text {
    margin-bottom: 30px;
}

i {
    color: white;
}


.sidebar{
    
    width: 14%;
}

.main-content{
   
    width: 86%;
    margin-left: 14%;
}