    <div class="container">
        <div class="left">
            <div class="searchBar">
                <div class="InputSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" #495579" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    <input type="text" name="motCle" id="motCle" placeholder="Recherche events">

                </div>
            </div>

            <div class="listeEvents">

                <!-- condition dans le cas où aucune liste n'est importée -->
                <!-- <div  class="auccunT">Accune liste importée</div> -->
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="card"  >
                            <p class="card-title">Evenement 1</p>
                            <img class="card-img-top" src="../../../assets/image/2.jpeg" height="100%" alt="Card image" >
                            <div class="card-body">
                                <p class="card-text">
                                    desc events
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card"  >
                            <p class="card-title">Evenement 1</p>
                            <img class="card-img-top" src="../../../assets/image/2.jpeg" height="100%" alt="Card image" >
                            <div class="card-body">
                                <p class="card-text">
                                    desc events
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card"  >
                            <p class="card-title">Evenement 1</p>
                            <img class="card-img-top" src="../../../assets/image/2.jpeg" height="100%" alt="Card image" >
                            <div class="card-body">
                                <p class="card-text">
                                    desc events
                                </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="card"  >
                            <p class="card-title">Evenement 1</p>
                            <img class="card-img-top" src="../../../assets/image/2.jpeg" height="100%" alt="Card image" >
                            <div class="card-body">
                                <p class="card-text">
                                    desc events
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                

                
            </div>
            

        </div>

        <div class="right">
            <div class="container mycard">

                <div class="card bg-info text-white">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" >
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-sm-6" >
                            <p>Ajouter Evenement</p>
                        </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card bg-info text-white">
                  <div class="card-body">
                    <div class="row" style="text-align: center;">
                        <h5>7</h5>
                        <h5>Evenement total</h5>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card bg-warning text-white">
                  <div class="card-body">
                    <div class="row" style="text-align: center;">
                        <h5>2</h5>
                        <h5>Evenement en cours</h5>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card bg-danger text-white">
                  <div class="card-body">
                    <div class="row" style="text-align: center;">
                        <h5>5</h5>
                        <h5>Evenement terminé</h5>
                    </div>
                  </div>
                </div>
              
                
              </div>
              
            <!-- <div class="nbrTirage">
                <div class="labelContainer">
                   hhhhhhhhhhh               
                </div>
            </div>

            <diV class="nbrliste">
                <div class="labelContainer">
                    kkkkkkkkkkkkkkkk
                </div>
            </diV>

            <div class="nbrTirageValide">
                <div class="labelContainer">
                    kkkkkkkkkkkkkkkk
                </div>
            </div> -->
        </div>
    </div>