.container{
    text-align: center;
    margin-top: 2%;

}

.ajout{
  margin-top: 2%;
  background-color: #0C85F8;
  color: white;
  width: 50%;
  border: none;
  height: 100%;
  border-radius: 5px;
}

.ajout:hover{

  background-color:  #264e73;

}

.adpd{
  background-color: #0C85F8;
  color: white;
  width: 40%;
  border: none;
  height: 100%;
  border-radius: 5px;
}

.adpd:hover{

  background-color:  #264e73;

}

.adp{
  background-color: #0C85F8;
  color: white;
  width: 20%;
  border: none;
  height: 100%;
  border-radius: 5px;
}

.adp:hover{
  background-color:  #264e73;

}

.right{
    border-radius: 15px;
    background-color: white;
    padding: 1%;
    
}

.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.InputSearch{
    margin-top: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 65%;
    background-color: #D9D9D9;
    
}
.InputSearch >svg{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.InputSearch > input{
    border: 0;
    font-size: 20px;
    font-family: cursive;
    background-color: #D9D9D9;
}

.InputSearch >input:focus {
    border: 0;
}

table{
    margin-top: 15px;
   
   
  }
  
  td{
    font-family: myfon2;
  }
  th{
    font-family: myfon2;
    color: #ffff !important;
      font-weight: 600;
  }
  thead{
    background-color: #0C85F8;
  }

  @media screen and (max-width: 900px) {
    th{
      font-size: medium;
  
    }
    td{
      font-size: small;
    }
  
    
  }
  @media screen and (max-width: 450px) {
    .buttonColor{
      font-size: small;
    }
    .hideColonne{
      display: none;
    }
    th{
      font-size: medium;
    }
    td{
      font-size: small;
    }
  
  }