
<div class="container">
   
    <div class="row"  >
        <div class="card-columns">
            <div class="card mescard">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the first card</p>
                </div>
            </div>

            <div class="card mescard">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the second card</p>
                </div>
            </div>

            <div class="card mescard">
                <div class="card-body text-center" style="background-color: aqua;">
                    <p class="card-text">Some text inside the third card</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row" >
        <div class="right" >
            <div class="searchBar">
                <div class="InputSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" #495579" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    <input type="text" name="motCle" id="motCle" placeholder="Recherche liste">

                </div>
            </div>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                    <th scope="col">Identifiant</th>
                    <th scope="col">Nom</th>
                    <th scope="col" class="hideColonne hideColonneOder">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="hideColonne hideColonneOder">Date</th>
            
                    </tr>
                </thead>
                <tbody>
                    <tr >
                    <td>kkkkkkkkk </td>
                    <td> nnnnnnnnnnnnnn</td>
                    <td class="hideColonne hideColonneOder" > lllllllllll </td> 
                    <td> bbbbbbbbbbbbbbbb </td>
                    <td class="hideColonne hideColonneOder" > ppppppppppppppppp </td>
                    </tr>
                    
            
                    <tr >
                    <td>kkkkkkkkk </td>
                    <td> nnnnnnnnnnnnnn</td>
                    <td class="hideColonne hideColonneOder" > lllllllllll </td> 
                    <td> bbbbbbbbbbbbbbbb </td>
                    <td class="hideColonne hideColonneOder" > ppppppppppppppppp </td>
                    </tr>

                    <tr >
                    <td>kkkkkkkkk </td>
                    <td> nnnnnnnnnnnnnn</td>
                    <td class="hideColonne hideColonneOder" > lllllllllll </td> 
                    <td> bbbbbbbbbbbbbbbb </td>
                    <td class="hideColonne hideColonneOder" > ppppppppppppppppp </td>
                    </tr>

                    <tr >
                    <td>kkkkkkkkk </td>
                    <td> nnnnnnnnnnnnnn</td>
                    <td class="hideColonne hideColonneOder" > lllllllllll </td> 
                    <td> bbbbbbbbbbbbbbbb </td>
                    <td class="hideColonne hideColonneOder" > ppppppppppppppppp </td>
                    </tr>

                    <tr >
                    <td>kkkkkkkkk </td>
                    <td> nnnnnnnnnnnnnn</td>
                    <td class="hideColonne hideColonneOder" > lllllllllll </td> 
                    <td> bbbbbbbbbbbbbbbb </td>
                    <td class="hideColonne hideColonneOder" > ppppppppppppppppp </td>
                    </tr>
                </tbody>
            
                </table>
        </div>
    </div>
</div>

