<!-- 
<div *ngFor="let monCode  of allCodeVotant" class="container text-center" id="qr-code">
    <qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode>
  
  </div>
  
  <button class="adp" (click)="generatePDF()">Exporter en PDF</button> -->

  <div class="container" *ngFor="let monCode  of allCodeVotant" class="container text-center" id="qr-code">
    <div class="row">
        <div class="col-md-3 "><qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode></div>

        <div class="col-md-3 "><qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode></div>

        <div class="col-md-3 "><qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode></div>
        
        <div class="col-md-3 "><qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode></div>
    </div>
    
   
</div>