.container{
   margin-top: 10%;
   text-align: center;
   background-color: white;
   border-radius: 20px;
}

.adp{
    background-color: #0C85F8;
    color: white;
    width: 50%;
    border: none;
    height: 100%;
    border-radius: 5px;
    margin-top: 2%;
  }
  
  .adp:hover{
    background-color:  #264e73;
  
  }

table{
    margin-top: 15px;
   
   
  }
  
  td{
    font-family: myfon2;
  }
  th{
    font-family: myfon2;
    color: #ffff !important;
      font-weight: 600;
  }
  thead{
    background-color: #0C85F8;
  }
