<!-- <div class="container">
    <div class="row" >
        <div class="right" >
            <div class="row"  >
                <div class="col-md-4"   >
                    <button (click)="exportZip()" type="button" class="adp"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        Export
                    </button>
                </div>
                <div class="col-md-4" >
                    <h3>{{libelleEvents}}</h3>
                </div>
            </div>
            <table class="table table-striped text-center">
                <thead>
                   
                    <tr>
                    <th scope="col">N°</th>
                    <th scope="col" class="hideColonne hideColonneOder">Code</th>
                    <th scope="col">Code Qr</th>
                    </tr>
                </thead>
                <tbody id="qr-code-table">
                    <tr *ngFor="let monCode  of allCodeVotant  | paginate: { itemsPerPage: 5, currentPage: p }">
        
                        <td>{{monCode.id}} </td>
                        <td class="hideColonne hideColonneOder"> {{monCode.code}} </td>
                        <td id="qr-code-table" > <qrcode (qrCodeURL)="onCodeChange($event)" [width]="40" errorCorrectionLevel="L" qrdata="salut"></qrcode>
                            
                           
                    </tr>
                   
                   
                </tbody>
            </table>
           
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
       
    </div>
</div> -->

<!-- <qrcode (qrCodeURL)="onCodeChange($event)" [width]="400" errorCorrectionLevel="L" qrdata="salut"></qrcode>
<a [href]="url" download>telechargez</a> -->





<!-- <button (click)="exportToPdf2()">Exporter en PDF</button>
<div id="content">
    <div *ngFor="let monCode  of allCodeVotant " class="text-center" >
        <qrcode [width]="350" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode>   
    </div>
   
</div> -->
<div *ngFor="let monCode  of allCodeVotant" class="text-center" id="qr-code">
    <qrcode  [width]="300" errorCorrectionLevel="L" qrdata="{{monCode.code}}"></qrcode>
    <!-- <a [href]="url" download> télécharger</a> -->
  </div>
  
  <button (click)="generatePDF()">Générer le PDF</button>