<!-- 

<button type="button" class="adp"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Pays
</button>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'un pays</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulaire" action="">
            <div>
              <input name="nom" class="form-control" type="text" placeholder="Nom pays" formControlName="nompays">&nbsp;&nbsp;
              <input name="initiale" class="form-control" type="text" placeholder="Initiale" formControlName="initialepays">&nbsp;&nbsp;
            </div>

        
            <div>
              <input  class="form-control" name="file" type="file" placeholder="file">&nbsp;&nbsp;
            </div>

            <div class="modal-footer">
              <button type="button" style="background-color: red;" class="saveAndAnuler" data-bs-dismiss="modal">Fermer</button>
              <button type="" class="saveAndAnuler" style="background-color: green;">Enregistrer</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
  </div> -->