.adp{
  background-color: #0C85F8;
  color: white;
  width: 30%;
  border: none;
  height: 100%;
  border-radius: 5px;
}

.adp:hover{
  background-color:  #264e73;

}

.saveAndAnuler{
  color: white;
  width: 30%;
  border: none;
  height: 100%;
  border-radius: 5px;
}

/* .saveAndAnuler:hover{
  background-color:  #264e73;

} */
