<div class="container-fluid" style="overflow: hidden;">
    <div class="row flex-nowrap">
        <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" style="height: 100vh;">
            <nav class="">
                <header>
                    <div class="image-text">
                        <span class="image"></span>
                        <div class="text logo-text ">
                            <img src="../../assets/.png" alt="" style="width: 120px; height: 120px; margin-left: -35px;margin-top: 10%;">
                        </div>
                    </div>
                    <div class="ad">
                        <h4 class="name">SAMAKE Kadidia</h4>
                        <h6 class="designation">ADMINISTRATEUR</h6>
                    </div>
                </header>
                <div class="menu-bar">
                    <div class="menu" style="margin-top: 50px;">
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="/personnel">
                            <i class="bi bi-house-door" ></i>
                            <span class="text nav-text" style="margin-left: 20px;">Personnels</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="//list-users">
                            <i class="bi bi-people" ></i>
                            <span class="text nav-text" style="margin-left: 20px;">Pays</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="/authent">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Authentication</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="/list-pharm">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Evénémments</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="/list-pharm">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Projets</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#" routerLinkActive="active" routerLink="/list-pharm">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Jury</span>
                            </a>
                        </li>
                    </div>
                    <div class="bottom-content">
                        <li class="li">
                            <a href="/login">
                            <i class='bx bx-power-off icon' style="color:#495579"></i>
                            <span class="text nav-text" routerLink="/login" style="color: #495579;">Déconnexion</span>
                            </a>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
  