<div class="container-fluid" style="overflow: hidden;">
    <div class="row flex-nowrap">
        <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" style="height: 100vh;">
            <nav class="">
                <header>
                    <div class="image-text">
                        <span class="image"></span>
                        <div class="text logo-text ">
                            <img src="../../../assets/image/mylogo.png" alt="" style="width: 120px; height: 120px; margin-left: -35px;margin-top: 10%;">
                        </div>
                    </div>
                    <div class="ad" >
                        <h4 class="name">{{ username }}</h4>
                        <h6 class="designation">{{ Role }}</h6>
                    </div>
                </header>
                <div class="menu-bar">
                    <div class="menu" style="margin-top: 50px;">
                        <li class="nav-link">
                            <a
                             routerLinkActive="active"
                             routerLink="/dashboard/pays">
                            <i class="bi bi-people" ></i>
                            <span class="text nav-text" style="margin-left: 20px;">Pays</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                            routerLink="/dashboard/personnels" 
                            routerLinkActive="active" >
                            <i class="bi bi-people" ></i>
                            <span class="text nav-text" style="margin-left: 20px;">Administrateur</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                            routerLinkActive="active"
                             routerLink="/dashboard/jury">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Jury</span>
                            </a>
                        </li>
                        
                        <li class="nav-link">
                            <a  
                             routerLinkActive="active"
                             routerLink="/dashboard/typeauth">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Authentication</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                             routerLinkActive="active"
                             routerLink="/dashboard/evenement">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Evenement</span>
                            </a>
                        </li>
                        <!-- <li class="nav-link">
                            <a 
                             routerLinkActive="active"
                             routerLink="/dashboard/projet">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Projet</span>
                            </a>
                        </li> -->
                        <!-- <li class="nav-link">
                            <a 
                             routerLinkActive="active"
                             routerLink="/dashboard/criteres">
                            <i class="bi bi-heart-pulse"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Critère</span>
                            </a>
                        </li> -->

                    </div>
                    <div class="bottom-content">
                        <li class="li">
                            <a href="/login">
                            <i class='bx bx-power-off icon' style="color:#0C85F8"></i>
                            <span class="text nav-text" style="color: #0C85F8;" (click)="logout()">Déconnexion</span>
                            </a>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <main>
            <div class="main-content">
                <router-outlet></router-outlet>
              </div>
        </main>
    </div>
</div>
  