<div  class="container-fluid" style="overflow: hidden;">
    <div class="row flex-nowrap">
        <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" style="height: 100vh;">
            <nav class="">
                <header>
                    <div class="image-text">
                        <span class="image"></span>
                        <div class="text logo-text ">
                            <img src="../../../assets/image/ikaLogo.png" alt="" style="width: 120px; height: 120px; margin-left: -35px;margin-top: 10%;">
                        </div>
                    </div>
                    <div class="ad" >
                        <h4 class="name">{{ username }}</h4>
                        <h6 class="designation">{{ Role }}</h6>
                    </div>
                </header>
                <div class="menu-bar">
                    <div class="menu" style="margin-top: 50px;">
                        <li class="nav-link">
                            <a 
                            routerLinkActive="active"
                            routerLink="/dashboard/personnels" 
                            >
                            <i class="fas fa-users monclr"></i>
                            <span class="text nav-text " style="margin-left: 20px;">Administrateur</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                            routerLinkActive="active"
                             routerLink="/dashboard/jury">
                             <i class="fas fa-scale-unbalanced monclr"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Jury</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a
                             routerLinkActive="active"
                             routerLink="/dashboard/pays">
                             <i class="fas fa-globe monclr"></i>
                            <span class="text nav-text" style="margin-left: 20px;">Pays</span>
                            </a>
                        </li>
                        
                        <li class="nav-link">
                            <a  
                             routerLinkActive="active"
                             routerLink="/dashboard/typeauth">
                            
                            <i class="fa-solid fa-user monclr"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Authentication</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                             routerLinkActive="active"
                             routerLink="/dashboard/evenement">
                             <i class="fas fa-calendar-day monclr"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Evenement</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a 
                             routerLinkActive="active"
                             routerLink="/dashboard/generercode">
                             <i class="fas fa-qrcode monclr"></i>
                            <span class="text nav-text" style="margin-left: 20px; ">Gerer events</span>
                            </a>
                        </li>

                    </div>
                    <div class="bottom-content">
                        <button class="deconnexion" ><i class="fas but fa-power-off" style="color:  white;"></i> Déconnexion</button>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <app-resultat [List]='Animals'></app-resultat> -->
        <main>
            
            <div class="main-content">
                <router-outlet></router-outlet>
              </div>
        </main>
    </div>
</div>
  