<div class="container">
    <div class="row"  >
        <div class="card-columns">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-6" >
                            <!-- Button trigger modal -->
                            <button type="button" class="adp"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                                <!-- Projet -->
                            </button>
                            
                                <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'un critère</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
        
                                           
                                            <form (ngSubmit)="CreerCritere()"  action="">
                                                <div>
                                                    <input name="libelleevent" class="form-control" type="text" placeholder="Titre" [(ngModel)]="ObjetsCritere.titre" name="titre">&nbsp;&nbsp;
                                                    <input name="datedebutevent" class="form-control" type="text" placeholder="Contenu"[(ngModel)]="ObjetsCritere.contenu" name="contenu" >&nbsp;&nbsp;
                                                </div>
        
    
                                                <div class="modal-footer">
                                                    <button type="button"  class="annuler" data-bs-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="save" >Enregistrer</button>
                                                </div>
                                            </form>
        
        
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <h4> Critère</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="background-color: none;">
                <div class="row">
                    <h5>{{libelleEvents}}</h5>
                    <p>Tech4Good</p>
                </div>
            </div>

            <div class="card mescard">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-6 test" >
                           <h3>{{nbrCritere}}</h3>
                        </div>
                        <div class="col-sm-6 dex" >
                            <h3>Critère </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" >
        <div class="right" >
            <div class="searchBar">
                <div class="InputSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" #0C85F8" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    <input type="text" name="motCle" id="motCle" placeholder="Recherche">

                </div>
            </div>
              <!-- condition dans le cas où aucune liste n'est importée -->
              <div *ngIf="totalCritere==0" class="auccunEv">
            <table class="table table-striped text-center" *ngFor="let critere of criteresAff  | paginate: { itemsPerPage: 5, currentPage: p }">
                <thead>
                    <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Titre</th>
                    <th scope="col" class="hideColonne hideColonneOder">Description</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                    <td>{{critere.id}} </td>
                    <td> {{critere.titre}}</td>
                    <td class="hideColonne hideColonneOder" > {{critere.contenu}} </td> 
                    <td class="hideColonne hideColonneOder" > 
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="adp" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <svg id="icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg> 
                                </button>
                            </div>  
                            <div class="col-sm-6 " >
                                <button type="button" class="adp" data-bs-toggle="modal" data-bs-target="##supprimer" (click)="openModal(critere.titre, critere.id)">
                                    <svg id="icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

