<div class="searchBar">
    <div class="InputSearch">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" #0C85F8" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="text" name="motCle" id="motCle" placeholder="Recherche">
    </div>
</div>
<div class="container">
    <div class="row" >
        <div class="right" >
            <div class="row"  >
                <div class="col-md-4" >
                    <!-- Button trigger modal -->
                    <button type="button" class="adp"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        Pays
                    </button>
                    
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'un pays</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formulaire" (ngSubmit)="CreerPays()"  action="">
                                        <div>
                                            <input name="nompays" class="form-control" type="text" placeholder="Nom pays" formControlName="nom">&nbsp;&nbsp;
                                            <input name="initialepays" class="form-control" type="text" placeholder="Initiale" formControlName="initiale">&nbsp;&nbsp;
                                        </div>
                                        <div>
                                            <input (change)="fileChang($event)"  class="form-control" name="file" type="file" placeholder="images">&nbsp;&nbsp;
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"  class="annuler" data-bs-dismiss="modal">Annuler</button>
                                            <button type="submit" class="save" >Enregistrer</button>
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <h3>Les jury</h3>
                </div>
            </div>
            
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Icone</th>
                    <th scope="col" class="hideColonne hideColonneOder">Initiale</th>
                    <th scope="col">Nom</th>
                    <th scope="col" class="hideColonne hideColonneOder">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pays of mespays | paginate: { itemsPerPage: 5, currentPage: p }" >
                    <td>{{pays.id}}</td>
                    <td><img src="{{pays.images}}" alt="" width="50px" height="30px"> </td>
                    <td class="hideColonne hideColonneOder" > {{pays.initiale}} </td> 
                    <td> {{pays.nom}} </td>
                    <td class="hideColonne hideColonneOder" > 
                        <div class="row">
                            <div class="col-md-6">
                               
                               hhhhhhhhhhhhhh
                            </div>    
                            <div class="col-sm-6" >
                                jhhhhhhhhhhhhhhhhhhh
                            </div>
                        </div>
                        
                    </td>
                    </tr>        
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

